<header>
    <div class="container-fluid">
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        <div class="search-container expanded-search">
            <div class="search-bar">
                <input type="text" placeholder="Busca eventos,convenciones y más...">
                <i class="fas fa-search search-icon"></i>
                
            </div>
            <div class="icons">
                <button class="filter-button" aria-label="Filtrar por precio">
                    <i class="fas fa-dollar-sign"></i>
                    <span>Precio</span>
                </button>
                <button class="filter-button" aria-label="Filtrar por categorías">
                    <i class="fas fa-tags"></i>
                    <span>Categorías</span>
                </button>
                <button class="filter-button" aria-label="Filtrar por ciudad">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Ciudad</span>
                </button>
                <button class="filter-button" aria-label="Filtrar por fechas">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Fechas</span>
                </button>
            </div>
            
        </div>
        <div class="buttons">
            <a href="#" class="btn"><i class="fas fa-sign-in-alt"></i></a>

            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1" routerLink="/login">Iniciar Sesion <app-login></app-login></button>
            
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal2" routerLink="/signup">Registrarse <app-signup></app-signup></button>
        </div>
    </div>
</header>