<div class="container mt-5">
    <h1 class="badge">¿Cual es tu Point?</h1>

    <div class="institutions">

        <div class="institution">
            <a routerLink="/listadoEventos">
                <img src="https://seeklogo.com/images/C/cibertec-logo-08375FAEAA-seeklogo.com.png" alt="Cibertec">
                <p>CIBERTEC</p>
            </a>
        </div>

        <div class="institution">
            <a routerLink="/listadoEventos">
                <img src="https://logosenvector.com/logo/img/utp-universidad-tecnologica-del-peru-4374.png"
                    alt="UTP">
                <p>UTP</p>
            </a>
        </div>
        <div class="institution">
            <a routerLink="/listadoEventos">
                <img src="https://seeklogo.com/images/U/universidad-peruana-de-ciencias-aplicadas-upc-logo-B98C3A365C-seeklogo.com.png"
                    alt="UPC">
                <p>UPC</p>
            </a>
        </div>

        <div class="institution">
            <a routerLink="/listadoEventos">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkXVyN-bCrvNCuW2q8Z88-kpCvBnaul5AGpQ&s"
                    alt="UPN">
                <p>UPN</p>
            </a>
        </div>

        <div class="institution">
            <a routerLink="/listadoEventos">
                <img src="https://i.vimeocdn.com/portrait/21848295_640x640" alt="Senati">
                <p>Senati</p>
            </a>
        </div>

        <div class="institution">
            <a href="#sanmarcos">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/UNMSM_coatofarms_seal.svg/1158px-UNMSM_coatofarms_seal.svg.png"
                    alt="San Marcos">
                <p>San Marcos</p>
            </a>
        </div>

        <div class="institution">
            <a routerLink="/listadoEventos">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Universidad_de_Lima_logo.png/220px-Universidad_de_Lima_logo.png"
                    alt="U de Lima">
                <p>U de Lima</p>
            </a>
        </div>

        <div class="institution">
            <a routerLink="/listadoEventos">
                <img src="https://seeklogo.com/images/I/idat-logo-1EBB75EA82-seeklogo.com.png" alt="Idat">
                <p>Idat</p>
            </a>
        </div>

    </div>
</div>